@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

:root {
    --green: #00e77f;
    --white: #fff;
    --light-white: #aaa;
    --black: #3d3d3d;
    --light-bg: #4b4b4b;
}

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all 0.2s linear;
    text-transform: capitalize;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    background: var(--white);
    color: var(--black);
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100vh;
}

/* Navigation Bar */

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    padding: 1.5rem 7%;
    background: var(--black);
    box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.3);
    transition: all 0.5s ease;
}

header .logo {
    color: var(--white);
    font-size: 2.5rem;
    display: flex;
    align-items: center;
}

header .logo i {
    color: var(--green);
}

header .navbar ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

header .navbar ul li {
    margin: 0 1rem;
}

header .navbar ul li a {
    font-size: 2rem;
    color: var(--white);
}

header .navbar ul li a:hover {
    color: var(--green);
}

header #login {
    font-size: 3rem;
    color: var(--white);
    cursor: pointer;
}

header #login:hover {
    color: var(--green);
}

header #menu {
    font-size: 3rem;
    color: var(--white);
    cursor: pointer;
    display: none;
}

.body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin: 50px auto 20px;
    text-align: center;
    font-size: 2.5rem;
    color: var(--black);
    margin-top: 150px;
}

.dropdown-wrapper {
    display: flex;
    justify-content: space-between; 
    margin-top: 100px;
    font-size:24px;
}

.dropdown {
    position: relative;
    font-family: Arial, sans-serif;
    width: 48%; 
}

.dropdown:nth-child(2) {
    text-align: right; 
}

.dropdownHeader {
    display: inline-block;
    padding: 16px 20px;
    cursor: pointer;
    font-size: 40px;
    border-radius: 4px;
    font-weight: 400;
}

.dropdownArrow {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 8px;
    border: solid #000000;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    transition: transform 0.2s ease-in-out;
}

.dropdownContent {
    display: none;
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    width: 100%;
    z-index: 1;
    font-size: 24px;
}

.dropdown:nth-child(2) .dropdown-content {
    left: auto;
    right: 0;
}

.quiz {
    border-bottom: 1px solid #ddd;
}

.qc-question-title {
    padding: 16px 20px;
    font-weight: bold;
}

.question {
    border-bottom: 1px solid #ddd;
}

.dropdown-content.show {
    display: block;
}

.dropdown.open .dropdown-arrow {
    transform: rotate(-135deg);
}

.qc-quiz-button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
    text-align: inherit;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.qc-quiz-button:hover {
    background: none;
    transform: scale(1.04);
  }

/*Amaan Code*/

.qc-progress-container {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden; 
    margin-left: 300px;
    border: 1px solid black;
}


.qc-progress-bar-addition {
    position: flex;
    width: 100%;
    height: 100%;
    background-color: #00d072;
    border-radius: 50%; 
    transition: width 1s ease;
    animation: glow 1.5s infinite alternate; 
}

.qc-progress-bar-subtraction {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #00d072;
    border-radius: 50%; 
    transition: width 1s ease;
    animation: glow 1.5s infinite alternate; 
}
.qc-progress-bar-multiplication {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #00d072;
    border-radius: 50%; 
    transition: width 1s ease;
    animation: glow 1.5s infinite alternate; 
}
.qc-progress-bar-division{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #00d072;
    border-radius: 50%; 
    transition: width 1s ease;
    animation: glow 1.5s infinite alternate; 
}
.qc-progress-bar-percentage {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #00d072;
    border-radius: 50%; 
    transition: width 1s ease;
    animation: glow 1.5s infinite alternate;
}
.qc-progress-bar-fullstop {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #00d072;
    border-radius: 50%; 
    transition: width 1s ease;
    animation: glow 1.5s infinite alternate; 
}
.qc-progress-bar-comma{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #00d072;
    border-radius: 50%; 
    transition: width 1s ease;
    animation: glow 1.5s infinite alternate; 
}
.qc-progress-bar-exclamation {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #00d072;
    border-radius: 50%; 
    transition: width 1s ease;
    animation: glow 1.5s infinite alternate; 
}

.qc-progress-addition {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    color: rgb(0, 0, 0);    
}
.qc-progress-subtraction{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    color: rgb(0, 0, 0);  
}
.qc-progress-multiplication{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    color: rgb(0, 0, 0);  
}
.qc-progress-division{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    color: rgb(0, 0, 0);  
}
.qc-progress-percentage{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    color: rgb(0, 0, 0);  
}
.qc-progress-fullstop{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    color: rgb(0, 0, 0);  
}
.qc-progress-comma{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    color: rgb(0, 0, 0);  
}
.qc-progress-exclamation{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    color: rgb(0, 0, 0);  
}

@keyframes glow {
    from {
        box-shadow: 0 0 10px #44ce1b, 0 0 20px #bbdb44, 0 0 30px #f2a134, 0 0 30px #e51f1f, 0 0 30px #ff0000, 0 0 30px #e51f1f, 0 0 30px #f2a134, 0 0 20px #bbdb44, 0 0 10px #44ce1b
    }
    to {
        box-shadow: 0 0 20px #00d072, 0 0 30px, 0 0 30px #00d072;
    }
}