@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: all 0.2s linear;
  text-transform: capitalize;
  scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    background: var(--white);
    color: var(--black);
  }

  html {
    font-size: 62.5%;
    overflow-x: hidden;
  }

section {
    min-height: 100vh;
    padding: 1rem 7%;
    padding-top: 6rem;
  }


.Background{
    min-height: 100vh;
    width: 100%;
    align-items: center;
    background-image: url(/front_end/images/background.jpeg);
}

h1 {
    text-align: center;
    padding: 20px;
}

.leaderboard {
    background-color:rgb(17, 17, 18) ;
    color: #ffffff;
    width: 40%;
    height: 450px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Added a subtle box shadow */
}

table {
    width: 100%;
    border-collapse: collapse; /* Collapse borders for a cleaner look */
    margin-top: 20px; /* Adjusted the top margin */
}

th,
td {
    padding: 15px; /* Increased padding for better spacing */
    text-align: center;
    border: 1px solid #ddd; /* Added a border to the cells */
}
    
th {
    background-color: #333;
    color: #fff;
}

/* Hover effect for table rows */
tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.1);
}


/* Navigation Bar */

:root {
  --green: #00e77f;
  --white: #fff;
  --light-white: #aaa;
  --black: #3d3d3d;
  --light-bg: #4b4b4b;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    padding: 1.5rem 7%;
    background: var(--black);
    box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.3);
    transition: all 0.5s ease;
  }
  
  header .logo {
    color: var(--white);
    font-size: 2.5rem;
    display: flex;
    align-items: center;
  }
  
  header .logo i {
    color: var(--green);
  }
  
  header .navbar ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
  }
  
  header .navbar ul li {
    margin: 0 1rem;
  }
  header .navbar ul li a {
    font-size: 2rem;
    color: var(--white);
  }
  
  header .navbar ul li a:hover {
    color: var(--green);
  }
  
  header #login {
    font-size: 3rem;
    color: var(--white);
    cursor: pointer;
  }
  
  header #login:hover {
    color: var(--green);
  }
  
  header #menu {
    font-size: 3rem;
    color: var(--white);
    cursor: pointer;
    display: none;
  }


