.bbody {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  background-image:  url(./public/assets/final.jpg) ;
  height: 100vh;
  width: auto;
  margin: 0px;
}
/* .leaderboard {
  max-width: 500px;
  height: 530px;
  margin: 20px auto;
  background-color: #B19470;
  border-radius: 10px;
  padding: 20px;
} */

.leaderboard {
  max-width: 500px;
  min-height: 200px; /* Minimum height to ensure it doesn't look too small */
  max-height: 530px; /* Maximum height before scrolling */
  margin: 20px auto;
  background-color: #b5b8b6;
  border-radius: 10px;
  padding: 20px;
  display: flex; /* Use flex layout */
  flex-direction: column; /* Stack children vertically */
}

.top3 {
  margin-bottom: 20px;
}
.top3 .user {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.top3 .user:hover{
  background-color: #DE8F5F;
  border-radius: 5px;
  padding: 10px;
}
.top3 .user img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}
.top3 .user .name {
  font-weight: bold;
}
.top3 .user .score {
  margin-left: auto;
  color: #0d0e0d;
}
/* .user-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  height: 350px; 
  overflow-y: auto; 
  scrollbar-width: none; 
  -ms-overflow-style: none;
} */
.user-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow-y: auto; 
  scrollbar-width: none;
  -ms-overflow-style: none;
  flex-grow: 1; 
}
.user-list::-webkit-scrollbar {
  display: none; 
}
.user-list li {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 5px;
}
.user-list li:hover{
  background-color: #EBD9B4;
}
.user-list li img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}
.user-list li .name {
  font-weight: bold;
}
.user-list li .score {
  margin-left: auto;
}
.centered{
  text-align: center;
  padding: 10px;
  background-color: #b4b5b2;
  border-radius: 10px;
  /* width: 100%; */
  margin: 0;
}
.Top-rank {
  font-size: larger;
  padding: 5px;
}
.rank{
  padding: 3px;
}