@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  outline: none;
  border: none;
  text-decoration: none;
  transition: all 0.2s linear;
  text-transform: capitalize;
  scroll-behavior: smooth;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url("IMG_9352 2.jpg") no-repeat;
}

.wrapper {
  width: 420px;
  background: teal;
  color: #fff;
  border-radius: 10px;
  padding: 30px 40px;
}

.wrapper h1 {
  font-size: 36px;
  text-align: center;
}

.wrapper .input-box {
  position: relative;
  width: 100%;
  height: 80px;
  background: salmon;
  margin: 30px 0;
}

.input-box input {
  width: 85%;
  height: 80%;
  background: transparent;
  border: none;
  outline: none;
  border: none rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  font-size: 20px;
  color: #fff;
  padding: 20px 40px 20px 20px;
}
.input-box input::placeholder {
  color: #fff;
}

.input-box i {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}
.wrapper .remember-forgot {
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin: -15px 0 15px;
}

.remember-forgot label input {
  accent-color: #fff;
  margin-right: 3px;
}

.remember-forgot a {
  color: #fff;
  text-decoration: none;
}

.remember-forgot a:hover {
  text-decoration: underline;
}

.wrapper .btn {
  width: 100%;
  height: 45px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 600;
}

.wrapper .register-link {
  font-size: 14.5px;
  text-align: center;
  margin-top: 20px 0 15px;
}

.register-link p a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

.register-link p a:hover {
  text-decoration: underline;
}

/* Navigation Bar */

:root {
  --green: #00e77f;
  --white: #fff;
  --light-white: #aaa;
  --black: #3d3d3d;
  --light-bg: #4b4b4b;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  padding: 1.5rem 7%;
  background: var(--black);
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.3);
  transition: all 0.5s ease;
}

header .logo {
  color: var(--white);
  font-size: 2.5rem;
  display: flex;
  align-items: center;
}

header .logo i {
  color: var(--green);
}

header .navbar ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

header .navbar ul li {
  margin: 0 1rem;
}
header .navbar ul li a {
  font-size: 2rem;
  color: var(--white);
}

header .navbar ul li a:hover {
  color: var(--green);
}

header #login {
  font-size: 3rem;
  color: var(--white);
  cursor: pointer;
}

header #login:hover {
  color: var(--green);
}

header #menu {
  font-size: 3rem;
  color: var(--white);
  cursor: pointer;
  display: none;
}
