/* General */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

:root {
  --green: #00e77f;
  --white: #fff;
  --light-white: #aaa;
  --black: #3d3d3d;
  --light-bg: #4b4b4b;
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: all 0.2s linear;
  text-transform: capitalize;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  background: var(--white);
  color: var(--black);
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

section {
  min-height: 100vh;
  padding: 1rem 7%;
  padding-top: 6rem;
}

/* Navigation Bar */

header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  padding: 1.5rem 7%;
  background: var(--black);
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.3);
  transition: all 0.5s ease;
  z-index: 9999;
}

header .logo {
  color: var(--white);
  font-size: 2.5rem;
  display: flex;
  align-items: center;
}

header .logo i {
  color: var(--green);
}

header .navbar ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

header .navbar ul li {
  margin: 0 1rem;
}
header .navbar ul li a {
  font-size: 2rem;
  color: var(--white);
}

header .navbar ul li a:hover {
  color: var(--green);
}

header #login {
  font-size: 3rem;
  color: var(--white);
  cursor: pointer;
}

header #login:hover {
  color: var(--green);
}

header #menu {
  font-size: 3rem;
  color: var(--white);
  cursor: pointer;
  display: none;
}

/* Lets'Create a CV section top bit */

.home {
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  background-image: url(.//images/background.jpeg);
}

.selection {
  min-height: 222vh; /* Increase the size for the "Pick Your CV" section */
  position: sticky;
  top: 0;
  z-index: 999; /* Ensure it's above other content */
}

.selection:before {
  content: ""; 
  display: block; 
  height: 5px; /* Adjust as needed */
}

.home h3 {
  margin-bottom: 1rem;
  font-size: 10rem;
  color: var(--black);
  line-height: 1;
  text-align: center;
}

.home h3 span {
  color: var(--green);
}

/* Bottom Section */

.heading {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
}

.heading h3 {
  font-size: 50px;
  color: var(--black);
  margin-bottom: -25px;
}

.heading h3::after {
  content: "";
  width: 100%;
  height: 4px;
  display: block;
  margin: 0 auto;
  background-color: var(--green);
}

.heading p {
  font-size: 18px;
  color: var(--black);
  margin-bottom: 35px;
}

.about-image img {
  max-width: 100%;
  height: auto;
  display: block;
  transition: 0.5s ease;
}

/* Bottom Section */

.card-container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .card-container {
    width: 100%; /* Adjust width for larger screens */
  }
}

.card {
  width: calc(33.33% - 20px); /* Adjust width of each box to fit one-third of the container with space between them */
  margin: 36px 10px;
  padding: 20px; /* Add padding to create space between the content and the edges */
  box-sizing: border-box;
  transition: transform 0.2s ease;
}

.card:hover {
  transform: translateY(-5px); /* Reduce the amount of transformation */
}

.card .card-content {
  text-align: center; /* Center the content */
}

.card img {
  max-width: 100%; /* Ensure images don't exceed the width of their container */
}

.card-container .card{
  position: relative;
}

.card-container .card .card-face{
  width: 285px;
  height: 370px;
  transition: 0.5s;
}

.card-container .card .card-face.front-face{
  position: relative;
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(100px);
}

.card-container .card:hover .card-face.front-face{
  background:  #00bfff;
  transform: translateY(0);
}

.card-container .card .card-face.front-face .card-content{
  opacity: 0.2;
  transition: 0.5s;
}

.card-container .card:hover .card-face.front-face .card-content{
  opacity: 1;
}

.card-container .card .card-face.front-face .card-content img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-container .card .card-face.front-face .card-content h3{
  margin: 10px 0 0;
  padding: 0;
  color: var(--white);
  text-align: center;
  font-size: 1.5rem;
}

.card-container .card .card-face.back-face{
  position: relative;
  background: var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgba(0,0,0,0.8);
  transform: translateY(-100px);
}

.card-container .card:hover .card-face.back-face{
  transform: translateY(0);
}

.card-container .card .card-face.back-face p{
  margin: 0;
  padding: 0;
  color: var(--white);
}

.card-container .card .card-face.back-face .card-content a{
  margin: 15px 0 0;
  display: inline-block;
  text-decoration: none;
  font-weight: 900;
  color: var(--white);
  padding: 5px;
  border: 1px solid var(--white);
}

.card-container .card .card-face.back-face .card-content a:hover{
  background: var(--black);
  color: var(--green);
}